<div class="row">
<div class="span14 columns offset1">

<h2>Регистрация</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<fieldset>
  <%= f.text_field :name %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>

  <div class="actions">
    <%= f.submit "Sign up", :class => "btn primary" %>
  </div>
</fieldset>
<% end %>

<h6>Другие действия:</h6>
<div class="another actions">
  <%= render :partial => "devise/shared/links" %>
</div>

</div>
</div>
