<div class="row">
  <div class="user-info span10 columns offset3">
    <h2><%= @user.name %> <small>Pro</small></h2>
    <hr />
    <p>
      <span>Хабраюзеры:</span>
      <% @habrausers.each do |habrauser| %>
        <div><%= link_to habrauser.name, habrauser, rel: "facebox" %></div>
      <% end %>

      <% if @habrausers.empty? %>
        <span>Вы еще не привязали к своему аккаунту ни одного хабраюзера.</span>
      <% end %>
    </p>
    <div><%= link_to "Привязать", new_habrauser_path, :class => "btn small" %></div>
    <br />

    <h3>Ваш аккаунт</h3>
    <hr />
    <p><span>Имя пользователя: </span><%= @user.name %></p>
    <p><span>Текущий email: </span><%= @user.email %></p>
    <p>
      <%= link_to "Редактировать аккаунт", edit_user_registration_path, :class => "btn small" %>
    </p>

  </div>
</div>
