<div class="row">
<div class="span14 columns offset1">

<h2>Вход</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<fieldset>
  <%= f.email_field :email %>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? %>
    <div class="clearfix">
      <div class="input">
        <ul class="inputs-list">
          <li><label for="user_remember_me">
            <%= f.check_box :remember_me %>
            <span>Запомнить меня</span>
          </label></li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Войти", :class => "btn primary" %>
  </div>
</fieldset>
<% end %>

<h6>Другие действия:</h6>
<div class="another actions">
  <%= render :partial => "devise/shared/links" %>
</div>

</div>
</div>