<h1>Listing favs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @favs.each do |fav| %>
  <tr>
    <td><%= link_to fav.habrauser.name, fav.habrauser %></td>
    <td><%= link_to fav.post.title, fav.post %></td>
    <td><%= link_to 'Show', fav %></td>
    <td><%= link_to 'Edit', edit_fav_path(fav) %></td>
    <td><%= link_to 'Destroy', fav, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fav', new_fav_path %>
