<h1>Listing posts</h1>

<table>
  <tr>
    <th>Blog</th>
    <th>Title</th>
    <th>Published at</th>
    <th>Author</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.blog.name, post.blog %></td>
    <td><%= link_to post.title, post %></td>
    <td><%= post.published_at %></td>
    <td><%= link_to post.author.name, post.author %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
