<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <title>Habrafavs</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- TopBar -->
<div class="topbar-wrapper" style="z-index: 5;">
  <div class="topbar">
    <div class="container fixed">
      <h3><%= link_to "Habrafavs", root_path %></h3>
      <ul>
        <li><%= link_to "Главная", root_path %></li>
        <li><a href="#">Посты</a></li>
        <li><a href="#">Блоги</a></li>
      </ul>      
      
      <ul class="nav secondary-nav">
        <form action="#">
          <input type="text" placeholder="Поиск">
        </form>
      <% if user_signed_in? %>
        <li class="menu">
          <a href="#" class="menu"><%= current_user.name %></a>
          <ul class="menu-dropdown">
            <li><%= link_to "Профиль", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Вход", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="messages">
  <% if notice %>
    <div class="row">      
      <div class="alert-message info span6 columns offset10">
        <a class="close" href="#">×</a>
        <p><%= notice %></p>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="row">
      <div class="alert-message error span6 columns offset10">
        <a class="close" href="#">×</a>
        <p><%= alert %></p>
      </div>      
    </div>
  <% end %>
  </div>
  
  <%= yield %>
</div>

<footer>
  <div class="inner">
    <div class="container">
      <p class="right">&copy; blackfoks, 2011</p>
      <p>
        Создано только благодаря <a href="http://habrahabr.ru">Хабрахабру</a>, а так же
        замечательному проекту <a href="#">bootstrap</a>.
      </p>        
    </div>
  </div>
</footer>

</body>
</html>
